* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.title {
	  background-color: #33bebe;
	    text-transform: uppercase;
	    color: white;
}

img {
	  width: 200px;
  height: 200px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 10px;
  margin-left: 10px;
}

.description {
	  width: 400px;
  height: 200px;
}

.app {
    display: -webkit-flex;
    display: flex;
}