/* Body */

body {
	font: 300 20px "Lato", sans-serif;
	color: #660;
}

.text-style-thin {
	font-weight: 100;
	margin: 5px 0 0 0;
}

/* Horizontal Line */

hr {
	border-width: 3px;
	border-top-color: #ccc;
	width: 97.5%;
	margin-top: 5px;
}

/* Image */

.logo {
	margin: 25px 0 0 0;
}

/* Text */

.text-dull {
	color: #ccc;
	margin: 0 10px 0 10px;
}

.text-tiny {
	font-size: 10px;
	color: #ccc;
}

.text-closer {
	margin: 5px 0 0 0;
}