/* The goal of this style is to add some color to the game console */
body {
    text-align: center;
    color: blue;
}

/* All except the instructions are not shown */
.avatarSelection {
	display: none;
}

.difficultySelection {
	display: none;
}

.startButton {
	display: none;
}

.gameOver {
	display: none;
}

.stats {
	display: none;
}

/* Instructions Segment */
#instructions {
	border: 1px solid blue;
	color: blue;
	width: 500px;
	text-align: center;
	margin: 100px 300px 100px 300px;
}

#instructions ul {
	text-align: left;
}

ul li {
	padding-bottom: 3px;
	color: black;
}

#instructions ol {
	text-align: left;
}

ol li {
	padding-bottom: 5px;
	color: black;
}

.detailedInstructions {
	margin: 50px 100px 50px 100px;
}

/* Buttons of the game console */
.button {
	height: 40px;
	width: 120px;
    color: white;
    font-size: 20px;
    text-align: center;
    vertical-align: center;
    border: 1px solid #333333;
    border-radius: 3px;
    cursor: pointer;
    margin: 10px;
    background-color: blue;
}

/* Making the back button a bit different */
.back {
	height: 40px;
	width: 220px;
    color: white;
    font-size: 20px;
    text-align: center;
    vertical-align: center;
    border: 1px solid #333333;
    border-radius: 3px;
    cursor: pointer;
    margin: 10px;
    background-color: teal;
}

/* Making the difficulty buttons uniquely color coded */
.easy {
	background-color: green;
}

.medium {
	background-color: yellow;
	color: black;
}

.hard {
	background-color: red;
}

/* Start Button */
.start {
	height: 60px;
	width: 220px;
	background-color: gold;
	color: black;
}

/* Game Over Section */
#gameOver {
	border: 1px solid blue;
	color: blue;
	width: 500px;
	text-align: center;
	margin: 100px 300px 100px 300px;
}

/* Game Stats Section */
#livesText {
	float: left;
	width: 33%;
	text-align: center;
	padding-left: 6px;
}

#pointsText {
	float: left;
	width: 33%;
	text-align: center;
}

/* Useful to have the timer a different color */
#timerText {
	float: left;
	width: 33%;
	text-align: center;
	color: black;
}

/* Canvas styling */
canvas {
    margin: 0 300px 0px 287px;
    float: left;
}

/* Overall Game board alignment */
.gameBoard {
	width: 60%;
	margin: auto auto 0 auto;
	padding: 50px 20px 10px 10px;
	font-size: 23px;
	font-weight: bold;
}